* {
  background-color: black;
  color: lightgrey;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div {
  width: 300px;
}

#results_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

button {
  height: 50px;
  width: 250px;
  text-align: center;
  margin: 0px;
}

#image_container {
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  width: 250px;
  height: 250px;
}

#results_tbl {
  width: 60%;
  border-top: 1px solid lightgrey;
}

#chart_bar {
  width: 40%;
}

#chart_polar {
  width: 80%
}

table {
  text-align: center;
}

.hidden {
  display: none;
}

.show {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.show_img {
  display: inline-block;
}

.go_places {
  width: 95%
  margin: 1%;
  background-color: darkgrey;
}
